/* header styles */
.container {
    width: 1220px;
    margin:0 auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-block {
    display: flex;
    align-items: center;
}
.consulting {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.ul-item {
    display: flex;
}
.position-fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding-top: 53px;
    z-index: 100;
    background-color: #fff;
}

/* section#1 */
.image-banner {
    width: 100%;
}
.text-block {
    width: 511px;
    background-color: lightcoral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.image-wraper {
    position: relative;
}

/* section#2 */
.parent-block {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: relative;
    /* transition-property: all;
    transition-duration: 7s;
    transition-timing-function: linear;   */
    transition: all 7s linear;
}
.child-block {
    width: 150px;
    height: 150px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transition:all 5s;
}
